<!DOCTYPE html>
<html>
<head>
  <title>Mycontacts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
  	<div class="page-wrapper">
  	  <p>CONTACTS</p>
      <% if user_signed_in? %>
  	    <%= link_to('Sign Out', destroy_user_session_path, method: :delete, class: 'sign_out') %>
        <p class="sign_out">Signed in under <b><%= current_user.username %></b></p>
      <% end %>
  	</div>
  </div>
  <div class="page-wrapper">
    <p style="display:none" onclick="this.style.display = 'none';" class="notice"><%= notice %></p>
    <p style="display:none" onclick="this.style.display = 'none';" class="alert"><%= alert %></p>
    <%= yield %>
  </div>
</body>
</html>
